html body {
  display: flex;
  justify-content: center;
  align-items: center;
  overflow: hidden;
}
.wrapper {
  height: 100vh;
  padding: 0;
  margin: 0;
  display: flex;
  align-items: center;
  flex-direction: column;
  justify-content: center;
}
.box {
  height: 50px;
  width: 50px;
}
.square1 {
  background-color: red;
}
.square2 {
  background-color: yellow;
}

.square4 {
  background-color: green;
}

.square3 {
  background-color: blue;
}

.row-wrapper {
  display: flex;
}

.text {
  position: absolute;
  z-index: -1;
}

.wrapper:hover .square1 {
  transform: rotate(90deg);
  transform-origin: top left;
  transition-duration: 2s;
}
.wrapper:hover .square3 {
  transform: rotate(-90deg);
  transform-origin: bottom left;
  transition-duration: 2s;
}

.wrapper:hover .square2 {
  transform: rotate(-90deg);
  transform-origin: top right;
  transition-duration: 2s;
}

.wrapper:hover .square4 {
  transform: rotate(90deg);
  transform-origin: bottom right;
  transition-duration: 2s;
}
